<hr class="top">

<h2 class="border-title"><b>Reimbursement Request (Management)</b></h2>

<hr class="bottom">
<br>
<button style='margin-left: 20px' class="btn btn-primary" (click)=back() type="button">Back</button>
<br><br>
<div style="text-align: center" class="container">
	<h4 style="margin-left: 1.5in">Enter Employee ID</h4>

	<input type="number" id="empID" tpye="number" [(ngModel)]=id>&nbsp;&nbsp;
	<button (click)=getData() class="btn btn-primary" id="getD">Get Employee Requests</button>
	<br>
</div>
<div *ngIf=showTable>
	<h1 class="table-title">Pending Requests</h1>

	<div class="container">


		<table class="table table-striped" id="spec-table-p">
			<thead class="thead-light ">
				<tr id="header-row3">
					<th>Request ID</th>
					<th>Worker ID</th>
					<th>Amount</th>
					<th>Description</th>
					<th>Status</th>
					<th>Resolved By</th>
				</tr>
			</thead>
			<tr *ngFor="let r of pRequests">
				<td>{{r.reqId}}</td>
				<td>{{r.workerId}}</td>
				<td>{{r.amount | currency:'USD' }}</td>
				<td>{{r.description}}</td>
				<td>{{r.status}}</td>
				<td>{{r.resolvedBy}}</td>
			</tr>
		</table>
	</div> <br><br>

	<h1 class="table-title">Resolved Requests</h1>
	<div class="container">


		<table class="table table-striped" id="spec-table-np">
			<thead class="thead-light ">
				<tr id="header-row3">
					<th>Request ID</th>
					<th>Worker ID</th>
					<th>Amount</th>
					<th>Description</th>
					<th>Status</th>
					<th>Resolved By</th>
				</tr>
			</thead>
			<tr *ngFor="let r of nPRequests">
				<td>{{r.reqId}}</td>
				<td>{{r.workerId}}</td>
				<td>{{r.amount}}</td>
				<td>{{r.description}}</td>
				<td>{{r.status}}</td>
				<td>{{r.resolvedBy}}</td>
			</tr>
		</table>
	</div> <br><br>
</div>