<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<title>Reolved Reinbursements Requests</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>

    <hr style= "border-width:1mm ;border-color:rgba(8, 4, 59, 0.24);background-color:rgb(32, 43, 138); height:3mm">
    
    <h2 style ="text-align: left; padding-left: 4mm" ><b>Reimbursement Request</b></h2>
    
    <hr style="border-width:1mm ;border-color:rgba(8, 4, 59, 0.24);background-color:rgb(32, 43, 138); height:2.5mm">
	<br> 
	<br>
    <button style = 'margin-left: 20px' class="btn btn-primary" routerLink="/mHome" type="button">Back</button>
		
    <br>
        

		<h1 style  ="margin-left: 70px">Resolved Requests</h1>
		<div class="container">
	
	
			<table class = "table table-striped" id = "reqProcessed-table">
				<tr id="header-row2">
					<th>Request ID</th>
					<th>Worker ID</th>
					<th>Amount</th>
					<th>Description</th>
					<th>Status</th>
					<th>Resolved By</th>
				</tr>
				<tr *ngFor = "let request of requests">
					<td>{{request.reqId}}</td>
					<td>{{request.workerId}}</td>
					<td>{{request.amount | currency:'USD' }}</td>
					<td>{{request.description}}</td>
					<td>{{request.status}}</td>
					<td>{{request.resolvedBy}}</td>
				</tr>
			</table>
		</div>


</body>
</html>