<section>
  <div class="leftside">
    <img src="../../../assets/intro.png">
  </div>
  <div class="rightside">
    <h1>Welcome to </h1>
    <h1>Blue Leaf's Staff Login</h1>
    <div style="margin-top: 20px;">
      <div>
        User Name : <input type="text" name="username" [(ngModel)]="username"><br><br>
        &nbsp;&nbsp; Password : <input type="password" name="password" [(ngModel)]="password">
      </div>
      <br>
      <h6 *ngIf=loginservice.invalidCredentials style="color: red; margin-left: 1in;">Inavlid credentials!</h6>
      <button style="margin-left: 2.2in;" (click)=checkLogin()>Login</button>
    </div>
  </div>
</section>