<hr class="top">

<h2 class="border-title"><b>Reimbursement Request (Management)</b></h2>

<hr class="bottom">
<br>

<button style='margin-left: 20px' class="btn btn-primary" routerLink="/mHome" type="button">Back</button>
<h1 class="table-title">All Employees</h1>
<br>

<table class="table table-striped" id="emp-table">
    <thead class="thead-light ">
        <tr>
            <th>Worker ID</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Title</th>
            <th>Username</th>
            <th>Hire Date</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
    </thead>
    <tr *ngFor="let employee of employees">
        <td>{{employee.workerId}}</td>
        <td>{{employee.lastName}}</td>
        <td>{{employee.firstName}}</td>
        <td>{{employee.title}}</td>
        <td>{{employee.username}}</td>
        <td>{{employee.hireDate}}</td>
        <td>{{employee.streetAddress}}</td>
        <td>{{employee.city}}</td>
        <td>{{employee.state}}</td>
        <td>{{employee.zip}}</td>
        <td>{{employee.phone}}</td>
        <td>{{employee.email}}</td>

    </tr>


</table>