<hr class = "top">
    
<h2 class="border-title" ><b>Employee/Team Member Home</b></h2>

<hr class = "bottom">
    <div class = "employee-outer">
        <h2 style = "text-align:left; margin-left: 0.2in;"><b>Reimbursement Request Options</b></h2>
        <div class = "employee-inner">
            <br>
            <button style = 'margin-left: 20px' class="btn btn-primary" routerLink = "/create-new-request" type="button">
                + Create New Reimbursement Request</button>
            <br><br>
            <button style = 'margin-left: 20px' class="btn btn-primary" routerLink = "/employee-pending" type="button">View All Your Pending</button>
                <br><br> 
            <button style = 'margin-left: 20px' class="btn btn-primary" routerLink = "/employee-processed" type="button">View All Your Resolved</button>
            <br><br>
        </div>
    </div>

