<hr class="top">

<h2 class="border-title"><b>Management Home</b></h2>

<hr class="bottom">
<br>
<br>
<div>
    <div class="employee-outer">
        <h2 style="text-align:left; margin-left: 0.2in;"><b>Reimbursement Request Options</b></h2>
        <div class="employee-inner">
            <br>
            <button style='margin-left: 20px' class="btn btn-primary" routerLink="/create-new-request" type="button">
                + Create New Reimbursement Request</button>
            <br><br>
            <button style='margin-left: 20px' class="btn btn-primary" routerLink="/employee-pending" type="button">View
                All Your Pending</button>
            <br><br>
            <button style='margin-left: 20px' class="btn btn-primary" routerLink="/employee-processed"
                type="button">View All Your Resolved</button>
            <br><br>
        </div>
    </div>
    <div class=" manager-outer">
        <h2 style=" text-align: right; margin-left: 0.2in; color:rgb(209, 165, 20)"><b>Management Options</b></h2>
        <div class="manager-inner">
            <br>
            <button style='margin-left: 20px' class="btn btn-warning" routerLink="/manager-pending" type="button">View
                All Pending Requests</button>
            <br><br>
            <button style='margin-left: 20px' class="btn btn-warning" routerLink="/manager-processed" type="button">View
                All Resolved Requests</button>
            <br><br>
            <button style='margin-left: 20px' class="btn btn-warning" routerLink="/specify-employee"
                type="button">Specify Requests by Employee</button>
            <br><br>
            <button style='margin-left: 20px' class="btn btn-warning" routerLink="/all-employees" type="button">View All
                Employees</button>
            <br><br>
        </div>
    </div>
</div>