<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Blue Leaf's Company Portal</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body class = "blue"> 
    <hr class= "top">
    
    <h2 style ="text-align: left; padding-left: 4mm" ><b>Management Home</b></h2>
    
    <hr class = "bottom">
    <br> 
    <br>
    <div >
        <div class = "employee-outer" >
            <h2 style = "text-align:left; margin-left: 0.2in;"><b>Reimbursement Request Options</b></h2>
        <div class = "employee-inner">
            <br>
            <button style = 'margin-left: 20px' class="btn btn-primary" routerLink = "/create-new-request" type="button">
                + Create New Reimbursement Request</button>
            <br><br>
            <button style = 'margin-left: 20px' class="btn btn-primary" routerLink = "/employee-pending" type="button">View All Your Pending</button>
                <br><br> 
            <button style = 'margin-left: 20px' class="btn btn-primary" routerLink = "/employee-processed" type="button">View All Your Resolved</button>
            <br><br>
        </div>
        </div>
        <div class = " manager-outer">
            <h2 style = " text-align: right; margin-left: 0.2in; color:rgb(209, 165, 20)"><b>Management Options</b></h2>
        <div class = "manager-inner">
        <br>
        <button style = 'margin-left: 20px' class="btn btn-warning" routerLink = "/manager-pending" type="button">View All Pending Requests</button>
            <br><br> 
        <button style = 'margin-left: 20px' class="btn btn-warning" routerLink = "/manager-processed" type="button">View All Resolved Requests</button>
        <br><br>
        <button style = 'margin-left: 20px' class="btn btn-warning" routerLink = "/specify-employee" type="button">Specify Requests by Employee</button>
            <br><br>
        <button style = 'margin-left: 20px' class="btn btn-warning" routerLink = "/all-employees" type="button">View All Employees</button>
        <br><br>
        </div>
    </div>
</div>
  
</body> 
</html>