<hr class=top>

<h2 class="border-title"><b>Reimbursement Request (Management)</b></h2>

<hr class="bottom">
<br>
<button style='margin-left: 20px' class="btn btn-primary" (click)=back() type="button">Back</button>
<br><br>

<h4 class="table-title">All Resolved Requests</h4>

<div class="container">


	<table class="table table-striped" id="reqR-table">
		<thead class="thead-light ">
		<tr id="header-row3">
			<th >Request ID</th>
			<th>Worker ID</th>
			<th>Amount</th>
			<th>Description</th>
			<th>Status</th>
			<th>Resolved By</th>
		</tr>
	</thead>
		<tr *ngFor="let request of requests">
			<td>{{request.reqId}}</td>
			<td>{{request.workerId}}</td>
			<td>{{request.amount | currency:'USD' }}</td>
			<td>{{request.description}}</td>
			<td>{{request.status}}</td>
			<td>{{request.resolvedBy}}</td>
		</tr>
	</table>
</div> <br><br>